
h1{
    color: rgb(0, 0, 0);
    background-color: rgb(69, 69, 223);
    font-family: Lora, serif;
    padding: 1rem;
    border: 1rem solid rgb(69, 69, 223);
    border-radius: 200px;
    margin: 1.5rem;
    width: fit-content;
}
.logo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1rem solid rgb(0, 0, 0);
    position: absolute;
    top: 1rem;
    right: 1rem;
}
h2{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 115, 255);
    font-family: Audiowide, serif;
    padding: 0.5rem;
    border: 1rem solid rgb(0, 115, 255);
    border-radius: 200px;
    margin: 2rem;
    margin-top: 5rem;
    margin-bottom: 0;
    width: fit-content;
    font-size: 1.2rem;
}
p{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: Lora, serif;
    padding: 1rem;
    border: 1rem solid rgb(255, 255, 255);
    border-radius: 200px;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
    height: fit-content;
    width: 40rem;
}
div.first-topic p{
    font-style: italic;    
}
div.first-topic img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1rem solid rgb(0, 0, 0);
    margin-left: 2.5rem;
}
div.second-topic p{
    font-weight: bold;
    color: rgb(125, 18, 18);
}
div.third-topic p{
    text-decoration: underline;
    color: rgb(0, 0, 255);
    text-shadow: 2px 2px 3px rgb(255, 0, 0);
}
a, a:visited{
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}
a:visited{
    color: rgb(24, 24, 137);
}
a:active{
    color: rgb(221, 255, 0);
    text-decoration: underline;
}